<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link
	href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
	rel="stylesheet">
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<link rel="icon"
	href="/src/main/resources/img/VinPlanLogo_preview_rev_1.png"
	type="image/png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AÑADIR HORARIO</title>
</head>
<body>

	<div class="container">
		<div class="img"></div>
		<div class="login-content">
			<form th:action="@{/AddHorario}" method="post">
				<h2 class="title">AÑADIR</h2>

					<div class="input-div one">
						<div class="i">
							<i class="fas fa-user"></i>
						</div>
						<div class="div">
							<h5>Hora de Apertura</h5>
							<input type="time" id="horaApertura" Name="horaApertura" class="input">
						</div>
					</div>
					<div class="input-div one">
						<div class="i">
							<i class="fas fa-user"></i>
						</div>
						<div class="div">
							<h5>Hora de Cierre</h5>
							<input type="time" id="horaCierre" Name="horaCierre" class="input">
						</div>
					</div>
					
						<div class="input-div one">
						<div class="i">
							<i class="fas fa-user"></i>
						</div>
						<div class="div">
							<h5>maximo Aforo</h5>
							<input type="text" id="maxAforo" Name="maxAforo" class="input">
						</div>
					</div>

					<div class="input-div one">
						<div class="i">
							<i class="fas fa-user"></i>
						</div>
						<div class="div">
							<h5>Dias</h5>
							<input type="text" id="dias" Name="dias"class="input">
						</div>
					</div>
						<div class="input-div one">
						<div class="i">
							<i class="fas fa-user"></i>
						</div>
						<div class="div">
							<h5>Servicio</h5>
							<input type="text" id="Servicio" Name="Servicio"
								class="input">
						</div>
					</div>
			
					<input type="submit" class="btn" value="AÑADIR"> <input
						type="submit" class="btn" value="CANCELAR">
			</form>
		</div>
	</div>

	<script
		src="${pageContext.request.contextPath}/public/js/AddPuntoScript.js"></script>
</body>
</html>