<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link
	href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
	rel="stylesheet">
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<link rel="icon"
	href="/src/main/resources/img/VinPlanLogo_preview_rev_1.png"
	type="image/png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AÑADIR</title>
</head>
<body>

	<div class="container">
		<div class="img"></div>
		<div class="login-content">
			<form th:action="@{/AddServicio}" method="post">
				<h2 class="title">AÑADIR</h2>

					<div class="input-div one">
						<div class="i">
							<i class="fas fa-user"></i>
						</div>
						<div class="div">
							<h5>Nombre</h5>
							<input type="text" id="Nombre" Name="Nombre" class="input">
						</div>
					</div>
					
					<div class="input-div one">
						<div class="i">
							<i class="fas fa-user"></i>
						</div>
						<div class="div">
							<h5>Descripcion</h5>
							<input type="text" id="Descripcion" Name="Descripcion" class="input">
						</div>
					</div>
					
					<div class="input-div one">
						<div class="i">
							<i class="fas fa-user"></i>
						</div>
						<div class="div">
							<h5>tipo</h5>
							<input type="text" id="tipo" Name="tipo" class="input">
						</div>
					</div>


					<div class="input-div one">
						<div class="i">
							<i class="fas fa-user"></i>
						</div>
						<div class="div">
							<h5>costo</h5>
							<input type="number" id="costo" Name="costo" class="input" step=".01">
						</div>
					</div>
					
					<input type="submit" class="btn" value="AÑADIR"> 
					<input type="submit" class="btn" value="CANCELAR">
			</form>
		</div>
	</div>

	<script
		src="${pageContext.request.contextPath}/public/js/AddServicio.js"></script>
</body>
</html>